@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
  }

  h1 {
    font-family: "Inter";
  }
  html {
    font-family: "Poppins";
  }

  .login-active {
  }
}
